:root {
    --background-color: #37424a;
    --accent-color: #f2d653;
    --main-gap: 12px;
    --form-gap: 12px;
}

html {
    color: var(--accent-color);
    background-color: var(--background-color);
}

html, input {
    font-family: "Fauna One";
    font-size: 14px;
}

h1, h2, p, ul, form, nav, div.centered-form {
    margin-top: var(--main-gap);
    margin-bottom: var(--main-gap);
}

h1, h2 {
    font-family: "Vollkorn SC";
    margin-top: calc(var(--main-gap) * 2);
    line-height: 0.9em;
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
}

body {
    margin: 32px;
}

main {
    max-width: 768px;
    margin: auto;
}

nav {
    margin-top: 0;
    margin-bottom: calc(var(--main-gap) * 2);
}

nav > a {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

nav > a:first-child {
    margin-left: 0;
}

nav > a:last-child {
    margin-right: 0;
}

p {
    text-align: justify;
}

a {
    color: var(--accent-color);
    font-style: italic;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.centered-form {
    max-width: 384px;
    margin: auto;
}

form > ul {
    margin: 0;
    margin-bottom: var(--form-gap);
}

label {
    display: block;
    position: absolute;
    z-index: 100;
    transform: translate(10px, -8px);
    background-color: var(--background-color);
    padding: 2px;
    font-size: 10px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    transition: font-size 200ms;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--accent-color);
}

input[type=submit] {
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--background-color);
}

label + input {
    margin-bottom: var(--form-gap);
}

ul {
    padding-left: 12px;
}